%bg{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
%flex{
  display: flex;
  justify-content: space-between;
}
%paddingAndBC{
  padding: 85px 0 165px;
  background-color: #F6F8FA;
}